.contact {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.contact h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.email {
  color: var(--primary);
  font-weight: 500;
  text-decoration: none;
}

.email:hover {
  text-decoration: underline;
}